---
layout: layout.njk
---
<div class="flex flex-col gap-20 md:gap-32 pb-20 bg-[url('/_assets/img/smiley.svg')] bg-left-top bg-no-repeat bg-size-[535px]">
  {%- set heroText = content -%}
  {%- set heroAlt = ui.collectiveImageAlt -%}
  {% include 'page-hero.njk' %}
  <div class="max-w-(--breakpoint-lg) w-full mx-auto px-4">
    <div class="grid gap-x-12 gap-y-16 sm:grid-cols-2 md:grid-cols-3">
      {%- for collective in collections.collective | sortByPosition %}
      <div class="flex flex-col gap-3">
        <div class="border-2 border-black rounded-xl overflow-hidden {{ ['-rotate-2', 'rotate-2', '-rotate-1'][loop.index0 % 3] }}">
          {% image collective.data.image, collective.data.name, 394, "w-full h-auto" %}
        </div>
        <div class="flex gap-2 items-baseline flex-wrap mt-4">
          <h2 class="font-hany text-2xl leading-tight">{{ collective.data.name }}</h2>
          {% if collective.data.pronouns %}
          <em class="text-sm">({{ collective.data.pronouns }})</em>
          {% endif %}
        </div>
        {% if collective.data.period %}
        <div class="italic text-sm">{{ collective.data.period }}</div>
        {% endif %}
        <div class="text-smc leading-6 space-y-3">
          {{ collective.templateContent | safe }}
        </div>
        {% if collective.data.website %}
        <div>
          <a
            target="_blank"
            rel="noopener"
            href="https://{{ collective.data.website }}"
            class="text-smc underline underline-offset-4 decoration-1 hover:decoration-2"
          >{{ collective.data.website }}</a>
        </div>
        {% endif %}
      </div>
      {%- endfor %}
    </div>
  </div>
</div>
