---
layout: layout.njk
---
<div class="flex flex-col gap-20 md:gap-32 pb-20 bg-[url('/_assets/img/smiley.svg')] bg-left-top bg-no-repeat bg-size-[535px]">
  {%- set heroText = content -%}
  {%- set heroAlt = ui.eventImageAlt -%}
  {%- set heroCta = contact_cta or "Get in touch" -%}
  {%- set heroCtaHref = "mailto:hello@officina.berlin?subject=" + (ui.eventMailSubject | urlencode) -%}
  {% include 'page-hero.njk' %}
  <div class="max-w-(--breakpoint-lg) w-full mx-auto px-4 flex flex-col gap-12">
    <h2 class="font-bold font-hany text-3xl md:text-5xl leading-tight text-black">
      {{ past_events_title or "What we've hosted" }}
    </h2>
    <div class="columns-1 md:columns-2 lg:columns-3 gap-x-12">
      {%- for event in collections.event | sortByDateDesc %}
      <div class="break-inside-avoid border-t-2 border-black pt-4 mb-12">
        <a
          target="_blank"
          rel="noopener"
          href="{{ event.data.link }}"
          class="block group"
        >
          <div class="italic text-smc">{{ event.data.date | htmlDateString }}</div>
          <h3 class="font-hany text-2xl leading-tight mt-1 underline-offset-4 group-hover:underline">
            {{ event.data.name }}
          </h3>
        </a>
        <div class="text-smc leading-6 mt-2 space-y-3">
          {{ event.templateContent | safe }}
        </div>
      </div>
      {%- endfor %}
    </div>
  </div>
</div>
