---
layout: layout.njk
---
<div class="flex flex-col gap-20 md:gap-32 pb-20 bg-[url('/_assets/img/smiley.svg')] bg-left-top bg-no-repeat bg-size-[535px]">
  {% include 'about.njk' %}
  {% include 'what-we-do.njk' %}
  {% include 'contact.njk' %}
</div>
